<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<h1>Stop Judging, this page will be updated eventuall!</h1>
<form method="post" action="/match/start">
    <input type="text" name="robot" />
    <input type="submit">
</form>
<form method="post" action="/match/kill">    
    <input type="submit">
</form>>
